dialog-header-title {
  flex: 1;
  display: flex;
  align-items: center;
}

.dialog-header-btn-group {
  margin-left: auto;
  display: inline-flex;
}

.dialog-header-btn {
  width: 16px;
  // color: #333333;
}
