#layout {
  .trigger {
    margin: 0 16px;
    font-size: 20px;
    cursor: pointer;
    transition: color 0.3s;
  }

  .trigger:hover {
    color: #1890ff;
  }


  .logo {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px 16px;
    line-height: 32px;
    cursor: pointer;

    .logo-link {
      display: flex;
      align-items: center;
      justify-content: center;
      min-height: 32px;
    }

    .logo-img,
    .logo-text {
      display: inline-block;
      height: 32px;
      vertical-align: middle;
    }

    .logo-img {
      transition: height 0.2s;
    }

    .logo-text {
      margin: 0 0 0 8px;
      overflow: hidden;
      color: #fff;
      font-weight: 600;
      font-size: 16px;
      line-height: 32px;
      animation: fade-in;
      animation-duration: 0.2s;
    }
  }
}

.menu-item-title {
  overflow: hidden;
  text-overflow: ellipsis;
}

.menu-item-link {
  display: flex;
  align-items: center;

  .icon {
    font-size: 16px;
  }
}

.ant-menu-submenu-title {
  display: flex;
  align-items: center;

  .anticon {
    font-size: 16px;
  }
}

.layout-sider .ant-menu-sub.ant-menu-inline {
  background: 0 0;
}

// .ant-menu-inline .ant-menu-item remove width
.layout-sider .ant-menu-inline .ant-menu-submenu-title {
  width: 100%;
}

.layout-sider {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
}

.layout-fixed-stuff {
  flex-shrink: 0;
  overflow: hidden;
  transition: width 0.2s;
}

.layout-sider.ant-layout-sider-collapsed {
  .logo {
    padding: 16px 24px;
  }

  .ant-menu-submenu-title {
    margin-bottom: 8px;
  }

  .ant-menu-submenu-title .anticon {
    font-size: 18px !important;
  }
}

.layout-sider.ant-layout-sider-collapsed.show-name {
  .sider-menu {
    margin-top: 10px;
  }

  .ant-menu-submenu {
    padding-bottom: 20px;
  }

  .ant-menu-submenu-title {
    flex-direction: column;
    padding: 0 !important;
  }

  .ant-menu-submenu-title .anticon {
    line-height: 1;
    transition: none;
  }

  .ant-menu-submenu-title .anticon + span {
    max-width: unset;
    line-height: 24px;
    opacity: unset;
  }

  .ant-menu-submenu-title .menu-item-title {
    margin-left: 0;
  }
}

.layout-header {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  padding: 0 16px;
  line-height: 48px;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, 0.08);
}

.layout-breadcrumb {
  flex-shrink: 0;
  padding: 12px 24px;
  background: #fff;
}

.layout-content-wrap {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.layout-content {
  flex: auto;
  padding: 20px;
}

// scroll bar
.layout-sider .ant-layout-sider-children ::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.layout-sider .ant-layout-sider-children ::-webkit-scrollbar-thumb {
  background: hsla(0, 0%, 100%, 0.2);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px hsl(0deg 0% 100% / 5%);
}

.ant-layout-sider-light .ant-layout-sider-children ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.12);
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 5px rgb(0 21 41 / 5%);
}

.layout-sider .ant-layout-sider-children ::-webkit-scrollbar-track {
  //background: hsla(0, 0%, 100%, 0.15);
  border-radius: 3px;
  //-webkit-box-shadow: inset 0 0 5px rgb(37 37 37 / 5%);
}

.ant-layout-sider-light .ant-layout-sider-children ::-webkit-scrollbar-track {
  //background: rgba(0, 0, 0, 0.06);
  border-radius: 3px;
  //-webkit-box-shadow: inset 0 0 5px rgb(0 21 41 / 5%);
}

.layout-sider .ant-layout-sider-children {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-bottom: 24px;
}

.layout-menu-wrap {
  flex: 1 1 0%;
  overflow: hidden auto;
}

// about theme
.ant-layout-sider-light {
  box-shadow: 2px 0 8px 0 rgba(29, 35, 41, 0.05);

  .logo-text {
    color: #1890ff !important;
  }
}

.ant-menu-inline,
.ant-menu-vertical,
.ant-menu-vertical-left {
  border-right-color: transparent;
}
