html.dark {
  .sider-trigger:hover {
    color: #fff;
  }
}
.sider-trigger {
  font-size: 18px;
  margin: 0 16px;
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: theme('colors.brand');
  }
}

.menu-item-icon {
  width: 18px !important;
  height: 18px !important;
}

.layout-sider {
  position: fixed !important;
  top: 0;
  left: 0;
  z-index: 10;
  height: 100%;
  // &.layout-sider-light {
  //   box-shadow: 2px 0 8px #1d23290d;
  // }
}

.layout-sider-side {
  .sider-menu {
    .t-menu__logo {
      border-bottom: none;
    }
  }
}
.layout-menu-wrap {
  flex: 1 1 0%;
  width: 100%;
  height: 100%;
  overflow: hidden auto;
  .sider-menu {
    height: 100%;
    .t-menu__logo {
      height: var(--theme-height);
    }
  }
  .t-menu__operations {
    height: 48px;
  }
  .sider-trigger-wrap {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}
